.dashboard-layout {
  padding: 20px;
}

.dashboard-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;            
  left: 0;               
  padding: 10px;
  background-color: #f5f5f5; 
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  
}

.dashboard-menu button {
  padding: 10px;
  background-color: white;
  border-color: #0077B6;
  color: #0077B6;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;      
}

.dashboard-menu button:hover {
  background-color: #023E8A;
  color: white;
}


.dashboard-menu .active {
  background: #0057ff;
  color: white;
  border-color: #0057ff;
}

.dashboard-content {
  background: white;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.dashboard-welcome {
  text-align: center;
  padding: 20px;
}


/* Navbar container */
nav {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  
}

nav .nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-container .logo {
  font-weight: bold;
  font-size: 1.25rem;
  color: #0077B6;
  text-decoration: none;
}

nav .nav-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

nav .nav-links span {
  font-size: 0.9rem;
  color: #333333;
}

nav .nav-links a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #0d6efd;
  transition: color 0.2s;
}

nav .nav-links a:hover {
  color: #084298;
}

nav .nav-links button {
  background: none;
  border: none;
  font-size: 0.9rem;
  color: #dc3545;
  cursor: pointer;
  transition: color 0.2s;
}

nav .nav-links button:hover {
  color: #a71d2a;
}


/* Table Style */

th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  font-weight: bold;
  background-color: #f5f5f5; /* تحسين بسيط */
}

td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.editBtn {
  padding: 6px 12px;
  margin-right: 8px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.editBtn:hover {
  background: #0069d9;
}

.deleteBtn {
  padding: 6px 12px;
  background: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.deleteBtn:hover {
  background: #bb2d3b;
}







